{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <!--Blog section-->
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"></img>
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        {% if object.author == user %}
            <div class='float-right bg-light'> 
                <button class="btn btn-secondary btn-sm dropdown bg-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b class="text-dark">...</b> 
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'post-update' object.id %}">Update Post</a>
                <a class="dropdown-item" href=" {% url 'post-delete' object.id %}">Delete Post</a>
                </div>
            </div>
        {% endif %}
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    <!--Comment Form-->
    <div class="content-section">
        <form id="comment-form" method="POST" novalidate>
            {% csrf_token %}
            <fieldset class='form-group'>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <!--Comment section-->
    <article class="content-section">
        {% for comment in comments %}
        <div>
            <img class="rounded-circle article-img" style="height: 30px; width: 30px" src="{{ comment.author.profile.image.url }}"></img>
            <span class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' comment.author %}">{{ comment.author }}</a>
                <small class="text-muted">{{ comment.date|date:"F d, Y" }}</small>
            </span>
            <span><P style="margin-left: 48px;">{{ comment }}</P></span>
        </div>
        {% endfor %}
    </article>
    
{% endblock %}

{% block javascript %}
<script>
    
    function createComment(formData){
        const csrfValue = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        fetch("{% url 'post-detail' object.id %}", {
            method: 'post',
            headers: {
                "X-CSRFToken": csrfValue,
                "X-Requested-With": "XMLHttpRequest"
            },
            body: formData
        }).then(function(res){
            if(!res.ok){
                throw 'Response not valid';
            }
            return res.json();
        }).then(function(data){
            console.log(data);
        }).catch((error) => {
            console.error('Error', error);
        })
    }

    function submitComment(e){
        e.preventDefault();
        const comment = document.getElementById('id_comment').value;
        if(comment){
            let formData = new FormData(commentForm);
            createComment(formData);
        }
        else{
            console.log('Comment cannot be empty')
        }
    }

    const asterisk = document.querySelector('.asteriskField');
    asterisk.innerHTML = '';
    
    //const commentForm = document.getElementById('comment-form').addEventListener('submit', submitComment);



</script>

{% endblock javascript %}